@font-face{
    font-family: helltaker;
    src: url(/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf)
}
html{
    height: 100%;
}
h1{
    font-family: helltaker;
    font-size: 50px;
    color: white;
    font-weight: 100;
    text-align: center;
}
h2{
    font-family: helltaker;
    font-size: 50px;
    color:#e64d51;
    font-weight: 900;
    text-align: center;
}
h3{
    font-family: helltaker;
    font-size: 40px;
    color: white;
    font-weight: 300;
    text-align: center;
}
h4{
    font-family: helltaker;
    font-size: 40px;
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: unset;
}
body{
    background-color:#02021a;
    background-image:url("/img/bkg.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}
img{
    pointer-events: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
#badend{
    display:none;
}
#badend1{
    display:none;
}
#badendlucifer{
    display:none;
}
#badendclear{
    height: 100%;
}
#success{
    width: 1920px;
}
#dialogue{
    background-image: url(img/selection1.png);
    width: 908px;
    height: 69px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;    
}


#dialogue:hover,
#dialogue:focus,
#dialogue:active {
    transform: scale(1.1);
    background: url("img/selection2.png") no-repeat;
}
#dialogue2{
    background-image: url(img/selection1.png);
    width: 908px;
    height: 69px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;    
}


#dialogue2:hover,
#dialogue2:focus,
#dialogue2:active {
    transform: scale(1.1);
    background: url("img/selection2.png") no-repeat;
}
#retry{
    background-image: url(img/selection1.png);
    width: 908px;
    height: 69px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    display: none;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;    
}


#retry:hover,
#retry:focus,
#retry:active {
    transform: scale(1.1);
    background: url("img/selection2.png") no-repeat;
}

.col-xl-12{
    height: 100%;
}
.container{
    height: 75%;
}

.chr-nexie {
    height:100%
}
#all{
    display:none;
}
#all2{
    display:none;
}
#navbartext > li a img{
    width: 70px;
}
#logo > img{
    align-content: center;
}
#pandemonica > img{
    height: 100%;
    margin-top: -10px;
}
#modeus > img {
    height: 100%;
    margin-top: -10px;
}
#cerberus > img{
    height: 100%;
    margin-top: -10px;
}
#malina > img{
    height: 100%;
    margin-top: -10px;
}
#zdrada > img{
    height: 100%;
    margin-top: -10px;
}
#azazel > img{
    height: 100%;
    margin-top: -10px;
}
#justice > img {
    height: 100%;
    margin-top: -10px;
}
#lucifer_2 > img{
    height: 100%;
    margin-top: -10px;
}

